<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>mount</title>
    </head>
  <body>
    <h1>スタンプGET</h1>
    <div>
        <img src="{{ stamp.shop.stamp_image.url }}"/>
        <p>{{ stamp.shop.item_name }}</p>
        <p>{{ stamp.shop.category.name }}</p>
        <p>{{ stamp.shop.shop_name }}</p>
        <p>お店の詳細はこちら</p>
        <p>スタンプ由来</p>
        <p>{{ stamp.shop.origin }}</p>
        <p>{{ stamp.shop.item_name }}</p>
        <p>{{ stamp.shop.item_detail }}</p>
    </div>
    
    

    
    <p><a href="{% url 'home' %}">ホーム</a></p>
    <p><a href="{% url 'route' %}">ルート</a></p>
    <p><a href="{% url 'user_picturebook' %}">ずかん</a></p>
    
</body>
</html>
