<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>original</title>
    </head>
  <body>
    <h1>興味のあるものは？</h1>
    <form action="{% url 'original_route' %}" method="POST">
    <p>複数選択可<br>
        {% csrf_token %}
        <input type="checkbox" name="tag_and_category" value="食べ物">#食べ物
        <input type="checkbox" name="tag_and_category" value="インテリア">#インテリア
        <input type="checkbox" name="tag_and_category" value="ファッション・アクセサリー">#ファッション・アクセサリー
        <input type="checkbox" name="tag_and_category" value="日用品">#日用品
        <input type="checkbox" name="tag_and_category" value="雑貨">#雑貨
        <input type="checkbox" name="tag_and_category" value="おしゃれ">#おしゃれ
        <input type="checkbox" name="tag_and_category" value="モダン">#モダン
        <input type="checkbox" name="tag_and_category" value="こだわり">#こだわり
        <input type="checkbox" name="tag_and_category" value="歴史を感じる">#歴史を感じる
        <input type="checkbox" name="tag_and_category" value="じっくり">#じっくり
        <input type="checkbox" name="tag_and_category" value="きらきら">#きらきら
        <input type="checkbox" name="tag_and_category" value="伝統">#伝統
        <input type="checkbox" name="tag_and_category" value="落ち着き">#落ち着き
        <input type="checkbox" name="tag_and_category" value="おいしそう">#おいしそう
        <input type="checkbox" name="tag_and_category" value="わくわく">#わくわく
        <input type="checkbox" name="tag_and_category" value="お土産">#お土産
        <input type="checkbox" name="tag_and_category" value="かわいい">#かわいい
        <input type="checkbox" name="tag_and_category" value="和食">#和食
        <input type="checkbox" name="tag_and_category" value="ねこ">#ねこ
        <input type="checkbox" name="tag_and_category" value="いぬ">#いぬ
        <input type="checkbox" name="tag_and_category" value="その他">#その他
        </p>
    
        
        <button type="submit" value="台紙を作成">台紙を作成</button>
    </form>


    <p><a href="#">ホーム</a></p>
    <p><a href="#">ルート</a></p>
    <p><a href="#">ずかん</a></p>
    <p><a href="{% url 'login' %}">ログインする</a></p>
    
    
</body>
</html>