<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>picturebook</title>
    </head>
  <body>
    <h1>スタンプ収集率</h1>
    <h2>{{ collection_rate }}%</h2>
    
    {% for stamp in stamps %}
    {% if stamp.judgement %}<!--スタンプの画像うつす-->
    <div>
      <img src="{{ stamp.shop.stamp_image.url }}"/>
      <p>{{ stamp.shop.in_area_num }}.  {{ stamp.shop.shop_name }}</p>
    </div>
    <!--スタンプ押したときに出るモーダルの中身-->
    <div>
      <p>図鑑No.{{ stamp.shop.in_area_num }}</p>
      <img src="{{ stamp.shop.stamp_image.url }}"/>
      <p>{{ stamp.shop.item_name }}</p>
      <p>{{ stamp.shop.category.name }}</p>
      <p>{{ stamp.shop.shop_name }}</p>
      <p>{{ stamp.shop.origin }}</p>
      <p>{{ stamp.shop.item_name }}</p>
      <p>{{ stamp.shop.item_detail }}</p>
    </div>
    <!--「お店の詳細はこちら」を押したときに出るモーダルの中身-->
    <div>
      <p>{{ stamp.shop.in_area_num }}</p>
      <p>{{ stamp.shop.category.name }}</p>
      <p>{{ stamp.shop.shop_name }}</p>
      <p>{{ stamp.shop.catchphrase }}</p>
      <img src="{{ stamp.shop.image.url }}"/>

      {% for tag in stamp.shop.tags.all %}
      <p>#{{ tag.name }}</p>
      {% endfor %}

      <p>{{ stamp.shop.shop_detail }}</p>
      <p>{{ stamp.shop.item_name }}</p>
      <p>{{ stamp.shop.opening }}   {{ stamp.shop.closed }}</p>
      <p>{{ stamp.shop.contact }}</p>
      <img src="{{ stamp.shop.address_image.url }}"/>
      <p>{{ stamp.shop.url }}</p>
      <p>{{ stamp.shop.instagram }}</p>
      <p>{{ stamp.shop.address_twitter }}</p>

    </div>
    <br>
    
    {% else %}<!--スタンプの画像うつさない-->
    <div>
      <img/>
      <p>{{ stamp.shop.in_area_num }}.  {{ stamp.shop.shop_name }}</p>
    </div>
    <!--スタンプ押したときに出るモーダルの中身-->
    <div>
      <p>図鑑No.{{ stamp.shop.in_area_num }}</p>
      <img/>
      <p>{{ stamp.shop.item_name }}</p>
      <p>{{ stamp.shop.category.name }}</p>
      <p>{{ stamp.shop.shop_name }}</p>
      <p>{{ stamp.shop.origin }}</p>
      <p>{{ stamp.shop.item_name }}</p>
      <p>{{ stamp.shop.item_detail }}</p>
    </div>
    <!--「お店の詳細はこちら」を押したときに出るモーダルの中身-->
    <div>
      <p>{{ stamp.shop.in_area_num }}</p>
      <p>{{ stamp.shop.category.name }}</p>
      <p>{{ stamp.shop.shop_name }}</p>
      <p>{{ stamp.shop.catchphrase }}</p>
      <img src="{{ stamp.shop.image.url }}"/>
      {% for tag in stamp.shop.tags.all %}
      <p>#{{ tag.name }}</p>
      {% endfor %}
      <p>{{ stamp.shop.shop_detail }}</p>
      <p>{{ stamp.shop.item_name }}</p>
      <p>{{ stamp.shop.opening }}   {{ stamp.shop.closed }}</p>
      <p>{{ stamp.shop.contact }}</p>
      <img src="{{ stamp.shop.address_image.url }}"/>
      <p>{{ stamp.shop.url }}</p>
      <p>{{ stamp.shop.instagram }}</p>
      <p>{{ stamp.shop.address_twitter }}</p>

    </div>
    {% endif %}
    {% endfor %}


    <div>
      <button value="スタンプを押す">スタンプを押す</button>

    <form action="{% url 'stamp' %}" method="POST">
        {% csrf_token %}
        <p>キーワードを入力<input type="text" name="keyword"></p>
        <p>お店の名前を入力<input type="text" name="shop_name"></p>
        <button type="submit" value="スタンプを押す">スタンプを押す</button>
    </form>
    </div>



    <p><a href="{% url 'home' %}">ホーム</a></p>
    <p><a href="{% url 'route' %}">ルート</a></p>
    <p><a href="{% url 'user_picturebook' %}">ずかん</a></p>
    <p><a href="{% url 'to_change_page' %}">e-mailとパスワードを登録する</a></p>
    
   
    
    
</body>
</html>

