<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>stamp_get</title>
    </head>
  <body>
    <h1>スタンプGET</h1>
    <img src="{{ stamp.shop.stamp_image.url }}"/>
    <p>{{ stamp.shop.item_name }}</p>
    <p>{{ stamp.shop.category.name }}</p>
    <p>{{ stamp.shop.shop_name }}</p>
    
    <p><a href="{% url 'detail' stamp.shop.uuid %}">お店の詳細はこちら</a></p>
    <p>スタンプ由来</p>
    <p>{{ stamp.shop.origin }}</p>
    <p>{{ stamp.shop.item_name }}</p>
    <p>{{ stamp.shop.item_detail }}</p>


    
    
    <p><a href="{% url 'home' %}">ホーム</a></p>
    <p><a href="{% url 'route' %}">ルート</a></p>
    <p><a href="{% url 'user_picturebook' %}">ずかん</a></p>
    <p><a href="{% url 'login' %}">ログインする</a></p>
    
</body>
</html>
