{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>stamp_get</title>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" href="{% static 'css/stamp_get.css' %}">
    </head>
  <body>
    <div class="stamp-get">
      <main class="main">
        <a href="/home" class="stamp-get__close">×</a>
        <div class="stamp-get__ttl">
          <img class="stamp-get__ttl-img" src="{% static 'img/cracker.png' %}" alt="">
          <h1 class="stamp-get__ttl-item">スタンプGET</h1>
          <img class="stamp-get__ttl-img" src="{% static 'img/cracker.png' %}" alt="">
        </div>
        <div class="stamp-get__firstview">
          <div class="stamp-get__firstview-img">
            <img src="{{ stamp.shop.stamp_image.url }}"/>
          </div>
          <div class="stamp-get__firstview-txt">
            <p class="stamp-get__firstview-tag">スタンプモチーフ</p>
            <p class="stamp-get__firstview-goods">{{ stamp.shop.item_name }}</p>
            <div class="stamp-get__firstview-name">
              <p class="stamp-get__firstview-p">{{ stamp.shop.category.name }}</p>
              <p class="stamp-get__firstview-p">{{ stamp.shop.shop_name }}</p>
            </div>
            <p class="stamp-get__back"><a href="{% url 'detail' stamp.shop.uuid %}">お店の詳細はこちら</a></p>
          </div>
        </div>
        <div class="stamp-get__detail">
          <dl>
            <dt class="stamp-get__detail-dt">スタンプ由来</dt>
            <dd class="stamp-get__detail-dd">{{ stamp.shop.origin }}</dd>
            <dt class="stamp-get__detail-dt">{{ stamp.shop.item_name }}</dt>
            <dd class="stamp-get__detail-dd">{{ stamp.shop.item_detail }}</dd>
          </dl>
        </div>
      </main>
    </div>

</body>
</html>
