body{
    width: 446px;
    height: 720px;
    margin: 0 auto;
}

.picturebook{
    width: 446px;
    height: 100%;
    margin: 0 auto;
}

.main{
    background-image: url("../img/zukan__bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 446px;
    height: 640px;
    margin: 0 auto;
    position: relative;
}

.main__bg{
    width: 100%;
    height: 100%;
    background: none;
}

.picturebook__ttl{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 70px;
}

.picturebook__ttl-h1{
    font-size: 21px;
    color: #DE2431;
    margin-bottom: 20px;
}

.picturebook__ttl-h2{
    font-size: 48px;
    color: #DE2431;
}

.picturebook__stamps{
    width: 100%;
    height: 420px;
    /* padding-top: 70px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}

.picturebook__stamps::-webkit-scrollbar{
    display: none;
}

.modal-block{
    height: 600px;
}

.picturebook__stamp{
    width: 25%;
    margin: 0px 15px;
    font-size: 13px;
    color: white;
}

.picturebook__modal{
    display: none;
    position: absolute;
    background-color: white;
    width: 400px;
    height: 550px;
    margin-top: 50px;
    padding: 10px 30px 0 30px;
    border-radius: 18px;
    position: relative;
    /* overflow-y: scroll; */
}

.picturebook__modal::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

.picturebook__modal-close{
    width: 35px;
    height: 35px;
    font-size: 24px;
    text-align: center;
    line-height: 35px;
    background-color: #377FA6;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}

.picturebook__modal-ttl{
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DE2431;
    color: white;
    font-size: 34px;
    border-radius: 18px 18px 0 0;
}

.picturebook__modal-ttl-item{
    display: inline-block;
    width: fit-content;
    margin: 10px 10px;
    font-size: 26px;
    /* line-height: 40px; */
    color: #DE2431;
    border-bottom: double 2px #DE2431;
    text-align: center;
}

.picturebook__modal-firstview{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.picturebook__modal-firstview-img{
    width: 150px;
    height: auto;
}

.picturebook__modal-firstview-txt{
    width: 120px;
    color: #535353;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picturebook__modal-firstview-tag{
    width: 90px;
    height: 14px;
    margin-bottom: 10px;
    font-size: 8px;
    line-height: 1.3;
    text-align: center;
    color: white;
    background-color: #DE2431;
    border-radius: 16px;
}

.picturebook__modal-firstview-goods{
    position: relative;
    width: fit-content;
    font-size: 22px;
    text-align: center;
    line-height: 1;
    border-bottom: 1px solid #DE2431;
}

.picturebook__modal-firstview-goods::before {
    content: "";
    position: absolute;
    top: 23px;
    left: -10px;
    background: #DE2431;
    width: 10px;
    height: 10px;
    border-radius: 50%;    
    transform: translateY(-50%);
}

.picturebook__modal-firstview-goods::after {
    content: "";
    position: absolute;
    top: 23px;
    right: -10px;
    background: #DE2431;
    width: 10px;
    height: 10px;
    border-radius: 50%;    
    transform: translateY(-50%);
}

.picturebook__modal-firstview-name{
    margin: 10px 0 20px;
}

.picturebook__modal-firstview-p{
    font-size: 13px;
    line-height: 1;
    margin-top: 2px;
}


.picturebook__todetail-btn{
    width: 138px;
    height: 28px;
    font-size: 13px;
    color: white;
    text-align: center;
    background: #377FA6;
    box-shadow: 1px 2px 2px #00000057;
    border-radius: 14px;
}

.picturebook__modal-context{
    margin-top: 20px;
    height: 250px;
    overflow-y: scroll;
}

.picturebook__modal-context::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

.picturebook__modal-dt{
    position: relative;
    margin-left: 20px;
    font-size: 23px;
}

.picturebook__modal-dt::before{
    content: "";
    position: absolute;
    top: 15px;
    left: -15px;
    background: #DE2431;
    width: 10px;
    height: 10px;
    border-radius: 50%;    
    transform: translateY(-50%);
}

.picturebook__modal-dt:nth-of-type(2){
    margin-top: 30px;
}

.picturebook__modal-dd{
    font: normal normal normal 14px/17px Kinuta MaruMaruGothic BSr StdN;
    font-size: 14px;
    color: #535353;
    line-height: 1.7;
}

.picturebook__modal-detail{
    display: none;
    position: absolute;
    background-color: white;
    width: 400px;
    height: 550px;
    margin-top: 50px;
    padding: 10px 30px 0 30px;
    border-radius: 18px;
    position: relative;
    color: #505050;
}

.modal__detail-firstview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__detail-num{
    width: 55px;
    height: 55px;
    background-color: #DE2431;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    color: white;
    font-size: 27px;
    position: absolute;
    top: 20px;
    left: 20px;
}


.modal__detail-close{
    width: 35px;
    height: 35px;
    font-size: 24px;
    line-height: 30px;
    background-color: #377FA6;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__detail-category{
    font-size: 9px;
}

.modal__detail-shop{
    position: relative;
    width: fit-content;
    font-size: 22px;
    color: #222222;
    text-align: center;
    line-height: 1;
    border-bottom: 1px solid#DE2431;
}

.modal__detail-shop::before {
    content: "";
    position: absolute;
    top: 23px;
    left: -10px;
    background: #DE2431;
    width: 10px;
    height: 10px;
    border-radius: 50%;    
    transform: translateY(-50%);
}

.modal__detail-shop::after {
    content: "";
    position: absolute;
    top: 23px;
    right: -10px;
    background: #DE2431;
    width: 10px;
    height: 10px;
    border-radius: 50%;    
    transform: translateY(-50%);
}

.modal__detail-phrase{
    font-size: 14px;
    height: 16px;
    line-height: 1;
    margin: 15px 0;
    overflow-y: scroll;
}

.modal__detail-phrase::-webkit-scrollbar{
    display: none;
}

.modal__detail-img{
    width: 100%;
}

.modal__detail-img-item{
    height: 180px;
    object-fit: cover;
}

.modal__detail-tags{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal__detail-tag{
    width: 70px;
    height: 18px;
    font: normal normal normal 11px/12px KodomoRounded;
    font-size: 11px;
    text-align: center;
    line-height: 18px;
    color: white;
    background-color: #DE2431;
    border-radius: 9px;
    margin-right: 5px;
}

.modal__detail-context{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 210px;
    margin-top: 20px;
}

.modal__detail-context-txt{
    width: 200px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.modal__detail-detail{
    width: 170px;
    height: 80px;
    font-size: 12px;
    line-height: 1.4;
    overflow-y: scroll;
}

.modal__detail-detail::-webkit-scrollbar{
    display: none;
}

.modal__deteil-goods{
    line-height: 2;
    font-size: 14px;
    margin: 5px 0;
}

.modal__detail-goods--red{
    color: #DE2431;
    font-weight: bold;
    margin-right: 20px;
}

.modal__detail-time{
    border-top: 2px dashed #DE2431;
    border-bottom: 2px dashed #DE2431;
    color: #DE2431;
}

.modal__detail-contact{
    color: #DE2431;
    font-size: 20px;
}

.modal__detail-context-img{
    width: 120px;
    height: 200px;
}

.modal__detail-context-icon{
    display: flex;
    justify-content: space-between;
}

.modal__detail-icon{
    width: 25px;
    height: 25px;
}

.modal__detail-contact-icon{
    display: inline-block;
    padding-top: 5px;
}

.form__modal{
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.form__modal-form{
    background-color: white;
    width: 100%;
    height: 500px;
    position: relative;
    top: 150px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form__modal-label{
    font-size: 16px;
}

.form__modal-input{
    width: 300px;
    height: 50px;
    border: 2px solid red;
    border-radius: 17px;
}

.form__modal-close{
    width: 35px;
    height: 35px;
    font-size: 24px;
    background-color: #377FA6;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 380px;
}

.form__modal-btn{
    font: normal normal bold 21px/34px Yu Gothic;
    font-size: 20px;
    width: 220px;
    height: 40px;
    margin: 0 auto;
    margin-top: 40px;
    color: white;
    background-color: #377FA6;
    box-shadow: 3px 3px 3px #0000003B;
    border-radius: 27px;
}

.picturebook__btn{
    margin: 10px auto;
    font: normal normal bold 21px/34px Yu Gothic;
    font-size: 20px;
    width: 220px;
    height: 40px;
    /* margin-top: 200px; */
    text-align: center;
    line-height: 40px;
    color: white;
    background-color: #377FA6;
    box-shadow: 3px 3px 3px #0000003B;
    border-radius: 27px;
}
