{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <div class="login">
    <main class="main">
      <div class="login__ttl">
        <h1 class="login__ttl-item">ログイン</h1>
      </div>
      {% if form.errors %}
      <p>メールアドレスかパスワードが間違っています。もう一度入力してください。</p>
      {% endif %}
          
          <form class="login__form" method="post">
            {% csrf_token %}
            <div class="login__info">
              <p class="login__mail"><label for="id_username">メールアドレス（半角英数字）</label> <input class="login__input" type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="254" required="" id="id_username" placeholder="stample@domein.com"></p>
              <p class="login__pass"><label for="id_password">パスワード（半角英数字）</label> <input class="login__input" type="password" name="password" autocomplete="current-password" required="" id="id_password"></p>
            </div>
            <div class="login__btn">
              <input class="login__btn-item" type="submit" value="ログインする">
              <p>新規登録の方はこちら</p>
              <p class="login__btn-item"><span class="login__new-span"><img class="login__new-icon" src="{% static 'img/mail__icon.png' %}" alt=""></span><a href="{% url 'to_change_page' %}">ユーザ登録する</a></p>
            </div>
        </form>
    </main>
    <footer class="footer">
      <ul class="footer__list">
        <li class="footer__list-item">
          <a href="#"><img src="{% static 'img/home__icon.png' %}" class="footer__icon" alt=""><span class="footer__list--span">ホーム</span></a>
        </li>
        <li class="footer__list-item">
          <a href="#"><img src="{% static 'img/route__icon.png' %}" class="footer__icon" alt=""><span class="footer__list--span">ルート</span></a>
        </li>
        <li class="footer__list-item">
          <a href="#"><img src="{% static 'img/book__icon.png' %}" class="footer__icon" alt=""><span class="footer__list--span">ずかん</span></a>
        </li>
        <li class="footer__list-item">
          <a href="#"><img src="{% static 'img/login__icon.png' %}" class="footer__icon" alt=""></a>
        </li>
      </ul>
  </footer>
  </div>
</body>
</html>


